doctype html

- let title = "My Contacts Manager"

html(lang="en-US")
  head
    title #{title}
    meta(charset="UTF-8")
    link(rel="stylesheet", href="/stylesheets/application.css")

  body
    header
      h1 #{title}

    if errMsgs && errMsgs.length > 0
      ul.flash
        each msg in errMsgs
          li.error= msg

    main
      block content
